.homeContainer {
  min-height: 100vh;
  width: 100vw;
  justify-self: center;
  display: flex;
  align-items: center;
  padding: 3rem;
}

.left {
  font-family: Charter, Georgia, serif;
  font-size: 3rem;
  flex: 1;
}

.right {
  flex: 1;
  display: flex;
  flex-flow: column;
}
