@import url("https://fonts.googleapis.com/css2?family=Fira+Code");
@import url("https://cdn.jsdelivr.net/gh/adobe-fonts/source-sans@3.046R/source-sans-3VF.css");

@font-face {
  font-family: "Source Han Sans VF";
  font-weight: 200 900;
  font-style: normal;
  font-stretch: normal;
  src: url("https://cdn.jsdelivr.net/gh/adobe-fonts/source-han-sans@release/Variable/WOFF2/OTF/Subset/SourceHanSansCN-VF.otf.woff2");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Source Sans 3 VF", "Source Han Sans VF", sans-serif;
  line-height: 1.8;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

b,
strong {
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

code {
  font-family: "Fira Code VF", monospace;
}
