:root {
  --font-sans: "Source Sans 3 VF", "Source Han Sans VF", sans-serif;
  --font-serif: "Source Serif VF", "Noto Serif SC", serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-sans);
  line-height: 1.8;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

b,
strong {
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
  font-weight: 400;
}

article > :is(h1, h2, h3, h4, h5, h6) {
  position: relative;
}

article > :is(h1, h2, h3, h4, h5, h6)::before {
  position: absolute;
  right: calc(100% + 0.2rem);
  font-size: 0.8em;
  opacity: 0.1;
  top: 0.2em;
}

article > :is(h1, h2, h3, h4, h5, h6):hover::before {
  opacity: 0.5;
}

article > h1::before {
  content: "h1";
}

article > h2::before {
  content: "h2";
}

article > h3::before {
  content: "h3";
}

article > h4::before {
  content: "h4";
}

article > h5::before {
  content: "h5";
}

article > h6::before {
  content: "h6";
}

::selection {
  background-color: #000;
  color: #fff;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-item {
  margin: 0 0 1.25rem;
}

.light-text {
  color: #666;
}

code {
  font-size: 0.9em;
  padding: 0 0.2em;
}

article img {
  max-width: 100%;
}
